/* --- Container width 720px --- */
.mobile-menu-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- Header --- */
.menu-header {
    display: flex;
    gap: 18em;
     justify-content:center;
    align-items: center;
}

.menu-header h2 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.close-btn {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
   transform: rotate(90deg) scale(1.4);
}
.list:hover{
 padding-left: 1em;
 padding-right: 1em;
background-color: #cacaca;
}


/* --- Search bar --- */
.search-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.search-box input {
    border: none;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.search-icon {
    font-size: 20px;
    color: #333;
}

/* --- Main List --- */
.menu-list,
.menu-extra {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.menu-list li,
.menu-extra li {
    padding: 15px 0;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

/* Make the last item have no border */
.menu-extra li:last-child {
    border-bottom: none;
}

/* --- Extra section spacing --- */
.menu-extra {
    margin-top: auto;
    margin-bottom: 30px;
    color: #777;
}

/* --- Sign Up Button --- */
.signup-btn {
    background: #111416;
    color: white;
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.signup-btn a {
    text-decoration: none;
     color: white;
}
.signup-btn:hover{
 color: black;
 background: rgb(106, 106, 106);
 border: 1px solid black;
     transition: 
        background 0.25s ease,
        color 0.25s ease,
}