 
 .container{
 width: 100%;
 height: 1080px;
 display: flex;
}
*{
 margin: 0;
 padding: 0;
}
.left-side{
 overflow: hidden;
 background-color: black;
 width: 50%;
}
.left-side img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 position: relative;
}
.back{
 position: absolute;
}
.back img{
 width: 60px;
 height: 60px;
 bottom: 720px;
 left: 30px;
}
.back a:hover{
 color: rgb(0, 173, 40);
 transform: scale(2.3);
}
.right-side{
 padding: 40px;
 display: flex;
 flex-direction: column;
 margin-top: 160px;
 margin-left: 120px;


}
.head{
 font-size: 38px;
 margin-bottom: 0.4em;
 font-weight: 700;
}
.to-in{
 font-size: 18px;
 margin-bottom: 1em;
}
.to-in a{
 text-decoration: none;
 color: rgb(0, 195, 0);
}
.check{
 display: flex;
 flex-direction: row;
 gap: 28px;
}
.check p{
 font-size: 17px;
 font-family: Arial, Helvetica, sans-serif;
}
#name,#email,#password{
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom: 1px solid black;
 padding-bottom: 14px;
 padding-top: 14px;

 width: 500px;
  outline: none;
  font-size: 16px;
}
.f{
 display: flex;
 flex-direction: column;
 gap: 2em;
}
.checkbox{
 width: 30px;
}
.signU{
  padding-bottom: 14px;
  width: 500px;
 padding-top: 14px;
 background-color: black;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 12px;
}
@media (max-width: 950px){
  *{
    padding: 0;
    margin: 0;
  }
  .container{
    margin: 0;
    flex-direction: column;
    gap: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .left-side{
   width: 100%;
   overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .back {
    display: none;
  }
    .left-side img {
    height: 100%;
     object-fit: cover;
  }
  .right-side{
    margin: 0;
  }
  #name,#email,#password{
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom: 1px solid black;
 padding-bottom: 14px;
 padding-top: 14px;

 width: 400px;
  outline: none;
  font-size: 16px;
}
.signU{
  padding-bottom: 14px;
  width: 400px;
 padding-top: 14px;
 background-color: black;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 12px;
}
}
